<!DOCTYPE html>
<html lang="fr">
	<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Description recherche google">

        <link rel="icon" type="image/png" href="images/favicon.png"/>

        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap" rel="stylesheet">

        <!-- CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">

		<title>Manon Lecareux - Web Developper</title>
	</head>
	<body id="accueil" data-spy="scroll" data-target="#navbarNav">

        <!-- NavBar -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="#accueil">
                <img src="images/logo.png" alt="Logo"/> manon<span class="light-font">lecareux</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#accueil">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#presentation">À propos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#competences">Compétences</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#portfolio" id="project-nav-link">Projets</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact</a>
                </li>
               </ul>
            </div>
        </nav>

        <!-- Header -->
        <header class="container-fluid">
            <div class="row home flex">
                <div class="col-12 contain-title-me">
                        <h6>Je suis</h6>
                        <h2 class="light-font">Développeuse</h2>
                        <h2 class="sous-titre-head">Fullstack</h2>
                        <h6 class="light-font">Applications web et mobile</h6>
                </div>
            <a href="#presentation"><img src="images/scrolldown.gif" class="scroll-gif"/></a>
            </div>
        </header>


        <!-- Presentation -->
        <div class="container-fluid" id="presentation">
            <div class="row title-cat">
                <div class="col-12 flex">
                    <h5>Présentation</h5>
                    <h2 class="bg-title-cat">Qui suis-je</h2>
                </div>
            </div>
            <div class="row grey-cat justify-content-center">
                <div class="col-10 col-md-5 col-lg-4 mb-5">
                    <p>Initialement issue d'une formation en graphisme, je me suis éprise du domaine du web et me suis formée pour faire de ma passion mon métier. Toujours positive et désireuse d'apprendre, j'ai enchainé les bootcamps, les formations et les tutoriels afin de devenir autonome et polyvalente dans ce domaine en constante évolution.
                        <br><br>Je cherche aujourd’hui à intégrer une entreprise qui favorise l’entraide, la cohésion d’équipe et la bonne humeur. J’accorde une importance toute particulière à ma progression technique et au développement de mes connaissances, c’est pourquoi je privilégie les missions courtes afin de pouvoir contribuer à une grande diversité de projets/domaines et me familiariser à d’autres technologies.
                    </p>
                    <br><br>Envie d'en savoir un peu plus ? On se retrouve sur <a href="https://www.linkedin.com/in/manon-lecareux-959b1b11a" target="_blank">Linkedin</a></p>
                </div>
                <div class="col-12 col-md-5 picture">
                    <img src="images/manon-profil-large.jpg" alt="manon-lecareux"/>
                </div>
            </div>
        </div>

        <!-- Compétences -->
        <div class="container-fluid" id="competences">
            <div class="row title-cat">
                <div class="col-12 flex">
                    <h5>Compétences</h5>
                    <h2 class="bg-title-cat">Qui suis-je</h2>
                </div>
            </div>
            <div class="row grey-cat justify-content-center">
                <div class="col-10 col-md-5 col-lg-4 mb-5">
                    <p>Passionnée par le code, je développe des applications web & mobile from scratch, principalement avec la stack MERN <i>(MongoDB, Express, React, NodeJS).</i>  À ces compétences de développement, viennent s'ajouter celles d'un webdesigner UI/UX acquises lors de mon parcours professionnel. Je me forme en ce moment à Typescript et Angular. </p>
                    <br>Retrouvez mon parcours professionnel en détail sur <a href="/images/cv.pdf" target="_blank">mon CV</a></p>
                </div>
                <div class="col-12 col-md-5 mb-5">
                    <ul class="list-skills">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>BOOTSTRAP</li>
                        <li>JAVASCRIPT</li>
                        <li>JQUERY</li>
                        <li>REACT</li>
                        <li>REACT NATIVE</li>
                        <li>REDUX</li>
                        <li>EXPRESS</li>
                        <li>NODE.JS</li>
                        <li>MONGO DB</li>
                        <li>GITHUB</li>
                        <li>STRIPE</li>
                        <li>HEROKU</li>
                        <li>POSTMAN</li>
                        <li>EXPO</li>
                        <li>VISUAL STUDIO</li>
                        <li>FIGMA</li>
                        <li>ILLUSTRATOR</li>
                        <li>PHOTOSHOP</li>
                        <li>INDESIGN</li>
                    </ul>
                </div>
            </div>
        </div>

         <!-- Avis -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <blockquote><span>" </span>Durant la formation, très intensive, Manon a su ajouter à son talent créatif des compétences techniques qui lui permettent d'avoir une vision et un savoir faire à 360°.
                        Dotée d'un bon relationnel elle sait parfaitement travailler en équipe et apporter une réelle valeur ajoutée. Son esprit logique et sa ténacité lui ont permis d’acquérir le bon « mindset » de développeuse web.<span> "</span></blockquote>
                    <div class="carousel-caption">
                        <h6>- NOEL PAGANELLI -</h6>
                        <cite>Professeur, CTO et cofounder chez La Capsule Academy</cite>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <blockquote><span>" </span>Manon a prouvé qu'elle pouvait développer des fonctionnalités évoluées coté Frontend en React / React Native et coté Backend avec Node et MongoDB. Elle a su prendre progressivement des responsabilités et travailler en équipe pour développer un MVP avancé. J'ai beaucoup apprécié son état d'esprit toujours positif. Manon a les qualités recherchées d'une développeuse Web/Mobile.<span> "</span></blockquote>
                    <div class="carousel-caption">
                        <h6>- DAVID FRÉAU -</h6>
                        <cite>Professeur et campus manager chez La Capsule Academy</cite>
                    </div>
                  </div>
                </div>
              </div>

            <!-- Portfolio -->
            <div class="container-fluid" id="portfolio">
                <div class="row title-cat-black">
                    <div class="col-12 flex">
                        <h5 class="little-title-black">Projets</h5>
                        <h2 class="bg-title-cat black-title">Portfolio</h2>
                    </div>
                </div>
                <div class="row black-cat flex filters-project">
                    <li><a class="active" id="all" onclick="updateFilters('all')">TOUS</a></li>
                    <li><a id="javascript" onclick="updateFilters('javascript')">JAVASCRIPT</a></li>
                    <li><a id="react" onclick="updateFilters('react')">REACT</a></li>
                    <li><a id="reactnative" onclick="updateFilters('reactnative')">REACT NATIVE</a></li>
                </div>
                <section class="row black-cat" id="section-projects">

                  <%for(var i=0; i<projectsFiltered.length; i++){ %>

                    <article class="col-11 col-sm-5 col-md-5 col-lg-3">
                        <div class="project" style="background-image: url(<%=projectsFiltered[i].coverUrl%>)">
                            <a onclick="moreDetails('<%=projectsFiltered[i].id%>')" class="overflow-detail" data-toggle="modal" data-target="id-popup">
                                <div class="details-project flex">
                                    <img src="images/plus.png"/>
                                </div>
                            </a>
                            <h5 class="name-project"> <%= projectsFiltered[i].title %> </h5>
                            <p class="type-project" > <%= projectsFiltered[i].type %> </p>
                            <p class="year-project"> <%= projectsFiltered[i].year %> </p>
                        </div>
                    </article>

                  <% } %>
                    
                </section>
                
            </div>


            <!-- Contact -->
            <footer class="container-fluid" id="contact">
                <div class="row title-cat">
                    <div class="col-12 flex">
                        <h5>Travaillons ensemble</h5>
                        <h2 class="bg-title-cat">Contact</h2>
                    </div>
                </div>
                <div class="row contact-links">
                    <address class="col-12 mb-5 pt-5">
                        <a href="mailto:lecareuxm@gmail.com" class="contact-mail"><h6>lecareuxm@gmail.com</h6></a>
                        <span>+33 (0)6 62 62 57 87</span>    
                    </address>
                    <div class="col-12 grey-cat flex pt-2">
                        <a href="https://www.linkedin.com/in/manon-lecareux-959b1b11a" target="_blank" class="contact-icon">
                            <img src="images/linkedin.png" alt="linkedin"/>
                        </a>
                        <a href="https://github.com/manon-lecareux" target="_blank" class="contact-icon">
                            <img src="images/github.png" alt="Github"/>
                        </a>
                        <a href="mailto:lecareuxm@gmail.com" class="contact-icon">
                            <img src="images/email.png" alt="e-mail"/>
                        </a>
                    </div>
                </div>
                <div class="row black-cat">
                    <div class="col-12 copyright">
                        © Manon Lecareux. Tous droits réservés.
                    </div>
                </div>
            </footer>

            <!-- Modal -->
            <div id="section-modal"></div>

        
        <!-- Scripts Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <script type="text/javascript" src="/javascripts/script.js"></script>

    </body>
</html>